@mixin make-wrapper {
  width: 100%;
  max-width: rem($grid-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-right: rem($wrapper-gutter-lg-1);
  padding-left: rem($wrapper-gutter-lg-1);

  @include media-breakpoint-down(md) {
    padding-right: rem($wrapper-gutter-md-1);
    padding-left: rem($wrapper-gutter-md-1);
  }

  @include media-breakpoint-down(sm) {
    padding-right: rem($wrapper-gutter-sm-1);
    padding-left: rem($wrapper-gutter-sm-1);
  }
}
